<div class="container-fluid">

	<!-- Main Container -->
	<div class="main-container" style="height: 80%">
        <section>
            <h2 class="title">Section</h2>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="mdb-select">
                        <option value="" disabled selected>Shop By Brands</option>
                        <option value="1">FHI Heat</option>
                        <option value="2">Stylus</option>
                        <option value="3">Daily Beauty</option>
                        <option value="3">Hair Veil</option>
                        <option value="3">Neo bond</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select</label>
                    <select class="mdb-select" multiple>
                        <option value="" disabled selected>Shop By Brands</option>
                        <option value="1">FHI Heat</option>
                        <option value="2">Stylus</option>
                        <option value="3">Daily Beauty</option>
                        <option value="3">Hair Veil</option>
                        <option value="3">Neo bond</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-warning-filled">
                        <input type="checkbox" class="filled-in form-check-input" id="checkbox101" checked="checked">
                        <label class="form-check-label" for="checkbox101" checked="">Checked</label>
                    </div>
                    <div class="form-check checkbox-warning-filled">
                        <input type="checkbox" class="filled-in form-check-input" id="checkbox102" checked="checked">
                        <label class="form-check-label" for="checkbox102" checked="">Not Checked</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input type="radio" class="filled-in form-check-input" id="checkbox103" checked="checked">
                        <label class="form-check-label" for="checkbox103">Checked</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filled-in form-check-input" id="checkbox104">
                        <label class="form-check-label" for="checkbox104">Not Checked</label>
                    </div>
                </div>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-primary">Primary</button>

                <!-- Default button -->
                <button type="button" class="btn btn-default">Default</button>
            </form>

            <form class="md-form">
                <div class="file-field">
                    <a class="btn-floating purple-gradient mt-0 float-left">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        <input type="file">
                    </a>
                    <div class="file-path-wrapper">
                       <input class="file-path validate" type="text" placeholder="Upload your file">
                    </div>
                </div>
            </form>

        </section>
	</div>

	<div class="card card-cascade wider reverse my-4 pb-5">

		<!--Card image-->
		<div class="view overlay rgba-white-slight wow fadeIn">
			<img src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" class="img-fluid">
				<a href="#!">
					<div class="mask"></div>
				</a>
		</div>
		<!--/Card image-->

		<!--Card content-->
		<div class="card-body text-center wow fadeIn" data-wow-delay="0.2s">
			<!--Title-->
			<h4 class="card-title"><strong>My adventure</strong></h4>
			<h5 class="blue-text"><strong>Photography</strong></h5>

			<p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

			<a class="btn btn-primary btn-lg">Primary button</a>
			<a class="btn btn-secondary btn-lg">Secondary button</a>
			<a class="btn btn-default btn-lg">Default button</a>

		</div>
		<!--/.Card content-->
	</div>
	<!--/.Card-->
		
</div>