<!--Footer-->
<footer class="page-footer text-center text-md-left pt-4">
	<!--Copyright-->
	<div class="footer-copyright py-3 text-center">
		<div class="container-fluid">
			Version: 0.0.0
			{{!-- <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a> --}}
		</div>
	</div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->